h1 {
  background: lightgray;
   color: black;
   font-size: 40px;
   border-radius: 50% 20% / 10% 40%;
   border: 3px solid blue;
   width: 50%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

 #subhead {
    text-align: center; 
 }

h2 { 
border-style: dotted;
width: 25%;
position: absolute;
left: 0px;
top: 130px;
font-size: 20px;
text-align: center;
}

#perInfo {
  position: absolute;
  left: 0px;
  top: 160px;
}

h3 {
  border-style: dotted;
  position: absolute;
  right: 0px;
  width: 25%;
  top: 130px;
  font-size: 20px;
  text-align: center;
}

#perInt {
 position: absolute;
 right: 20px;
 top: 165px;
}
#Bio {
  border: 3px solid blue;
  background: lightgray;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 140px;
  text-align: center;
}

#dnd {
  border-style: dotted;
  font-size: 20px;
  width: 25%;
  position: absolute;
  right: 0px;
  bottom: 20px;
  text-align: center;
}

#placeHolderD4 {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: auto;
  font-size: 20px;
}

#placeHolderD6 {
 border: 1px solid black;
 height: 40px;
 width: 40px;
 margin: auto;
}

#placeHolderD8 {
 border: 1px solid black;
 height: 40px;
 width: 40px;
 margin: auto;
}

#placeHolderD10 {
 border: 1px solid black;
 height: 40px;
 width: 40px;
 margin: auto;
 
}

#placeHolderD12 {
 border: 1px solid black;
 height: 40px;
 width: 40px;
 margin: auto;
 
}
#placeHolderD20 {
 border: 1px solid black;
 height: 40px;
 width: 40px;
 margin: auto;
 
}
button {
  background-color: rgb(82, 186, 179);
}